/* Селектор */

body{
    background-color: white;
    font-family: 'Roboto' ;
                    
}
/* Header */

header{
    background-color: #E7E9FC;

}
.title{
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    font-family: 'Raleway';
    font-style: 'ExtraBold';
    color: #4D5AE5;
    letter-spacing: 0.03em;
    
}
.studio-letter{
    color: #2E2F42;
    letter-spacing: 0.03em;
}
a {
  text-decoration: none;
}
p{
    font-family: 'Roboto';
}
.links{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;;  
    color: #2E2F42;
    letter-spacing: 0.02em; 
}
.links :hover {
    color: blue;
  }
.mail{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;  
    color: #2E2F42;
    letter-spacing: 0.02em;
}
.mail:hover,
.mail:focus {
 color: #404BBF;
}
.number{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #2E2F42; 
    letter-spacing: 0.02em;
}
.number:hover,
.number:focus {
 color: #404BBF;
}
/* Hero section */
.caption{
    font-weight: 700;  
    color: #FFFFFF;
    font-size: 56px;
    font-style: Bold;
    line-height: 60px;
    letter-spacing: 0.02em
}
.hero-sec{
    background-color: #2E2F42;
}
button{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;  

}
.button{
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em
 }
    
    
    
/* First section */

.first-sec{
    background-color: #E7E9FC;
}
.pharagraphs{
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.features{
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 0.02em;
}
/* Second section */

.text{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;  
    color: #2E2F42;
    letter-spacing: 0.02em;
}

/* Third section */

.third-sec{
    background-color: #F4F4FD;
    
}
.text-1{
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #2E2F42;
    letter-spacing: 0.02em;
}
.subjects{
    color: #2E2F42;
}
/* Footer */
footer{
    background-color: #2E2F42;
    width: 1440px;
    height: 310px;
}
.desc{
    color: #E7E9FC;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.02em;
}
.desc:hover,
.desc:focus{
    color: #404BBF;
    cursor: pointer;
}
.names{
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: #2E2F42;
    letter-spacing: 0.02em;
}
footer{
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    font-family: 'Raleway';
}
.studio-letter-2{
    color: #E7E9FC;
}

/* Portfolio */
.buttons-list{
    background-color: #F4F4FD;
    font-weight: 500;
    font-size: 16px;
    color: #4D5AE5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    letter-spacing: 0.04em;
    
    
}
.button-portf{
    background-color:#4D5AE5;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px;
    letter-spacing: 0.04em;
}
.icons{
    margin-bottom: 120px;
}

ul{
    list-style: none;
}